body {
    background-color: #fffff9;
}

.header {
    border-bottom: 1px solid black;
    width: 100%;
}

.nav {
    display: flex;
    text-align: left;
}

.icon {
    font-size: small;
    font-weight: bold;
    color: black;
    font-family: 'Franklin Gothic Medium';
}

ol {
    display: flex;
    margin-left: 60%;
}

ol li {
    margin-left: 50px;
    list-style-type: none;
}

ol li a {
    text-align: right;
    text-decoration: none;
    font-size: smaller;
    font-family: 'Gill Sans';
    color: black;
}

ol li a:hover {
    color: brown;
}

.btn {
    background-color: black;
    margin-top: 10px;
    margin-left: 20px;
    border: 3px solid;
    border-radius: 12px;
    padding: 3px;
    height: fit-content;
    width: max-content;
}

.btn a {
    color: whitesmoke;
    text-decoration: none;
    font-size: smaller;
}

.btn a:hover {
    color: turquoise;
    box-shadow: inset;
    transition: 0.3s ease;
}

img {
    width: 200px;
    height: 1000px;
    float: right;
}

h1 {
    font-size: 100px;
    font-family: 'Bookman';
    margin-top: 100px;
    margin-left: 15px;
    letter-spacing: 2px;
}

.detail {
    font-size: 20px;
    font-family: 'Fantasy';
    margin-left: 20px;
}

h2 {
    font-size: 50px;
    font-family: 'Bookman';
    margin-left: 15px;
}

.slogan {
    font-size: 15px;
    font-family: 'fantasy';
    margin-left: 20px;
}

.footer {
    margin-top: 500px;
    margin-left: 15px;
}

.cright {
    margin-top: 20px;
    float: left;
}

ul {
    display: flex;
    float: right;
}

ul li {
    margin-left: 50px;
    list-style-type: none;
}

ul li a {
    text-align: right;
    text-decoration: none;
    font-size: smaller;
    font-family: 'Gill Sans';
    color: black;
}

ul li a:hover {
     color: brown;
}

@media (max-width: 768px) {
    nav ol {
        flex-direction: column;
        gap: 10px;
    }

    .hero h1 {
        font-size: 40px;
    }
}